p {
	color: black;
	font-size: 28px;
}

p.timer {
	left: 10px; 
	top: 500px
}

p.wordBox {
	width: 350px;
	height: 70px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

header {
	text-align: center;
	font-size: 40px;
}

.storyName {
  background-color: lightblue;
  text-decoration: underline;
}

input.typing {
	text-align: center;
	font-size: 40px;
	border-width: 5px;
	border-radius: 10px;
	width: 50%;
	position: fixed;
	right: 310px;
}

input.enter {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 580px;
	position: absolute;
	top: 500px;
	height: 30px;
}

input.goBack {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 450px;
	position: absolute;
	top: 500px;
	height: 30px;
}

input.goBackEnd {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 580px;
	position: fixed;
	top: 550px;
	height: 30px;
}


input.restart {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 700px;
	position: absolute;
	top: 500px;
	height: 30px;
}

/*input.restartOrder {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 700px;
	position: absolute;
	top: 500px;
	height: 30px;
}*/

input.giveUp {
	text-align: center;
	width: 10%;
	font-size: 20px;
	right: 450px;
	position: fixed;
	top: 500px;
	height: 30px;
}

input.oops {
	text-align: center;
	width: 20%;
	font-size: 15px;
	background-color: #f44336;
	height: 30px;
}

span.word {
	color: blue;
	text-decoration: underline;
}

#wordBox div {
  text-decoration: underline;
}